@font-face {
    font-family: 'Chicago';
    src: local('Chicago'), url('../assests/ChicagoFLF.ttf') format('truetype');
  }

.header{
    background-color: #cccccc;
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: background-colour 0.3s ease;
    height: 5rem;
    border-bottom: 2px solid black;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-logo{
    position: absolute;
    left: 2rem;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

.nav-logo :hover{
  color: #ffffff;
}

.nav-menu{
    display: flex;
    position: sticky;
    justify-content: flex-end;
    padding-top: 10px;
    margin-right: 2rem;
    gap: 1rem;
}

.nav-menu a{
    font-family: 'Chicago';
    color: black;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-menu a:hover{
    color: #ffffff;

}

.nav-menu a:hover::first-letter {
    text-decoration: underline;
    color: #ffffff;
}

.header.scrolled{
    background-color: #ababab;
    height: 2.5rem;
}

.nav-logo.scrolled {
    font-size: 35px;
}


/*animations*/

@keyframes spin{
    from{
        transform: rotate(0deg);
    }to {
        transform: rotate(360deg);
    }
} 